<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=cat%></title>
</head>
<body>
    <%- include('./partials/nav') %>

<h1><%= cat %></h1>

  <% for( let index = 0; index < menuItems.length; index++ ) { %>
    <h2><%= menuItems[index].name %></h2>
    <h3><%= menuItems[index].price %></h3>
    <h3><%= menuItems[index].rating %></h3>
    <h4><%= menuItems[index].details %></h4>
  <% } %>
  
</body>
</html>
