<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
  <h1>Full Menu</h1>
  <h2>Mains</h2>
  <h3>
    <% for( let index = 0; index < menu.length; index++ ) { %>
        <% if (menu[index].category === 'mains') { %>
            <%= menu[index].name %></br>
            <%= menu[index].price %></br>
            <%= menu[index].rating %></br>
            <%= menu[index].details %></br></br>
        <% } %>   
        <% } %>
</h3>
<h2>Desserts</h2>
<h3>
    <% for( let index = 0; index < menu.length; index++ ) { %>
        <% if (menu[index].category === 'desserts') { %>
            <%= menu[index].name %></br>
            <%= menu[index].price %></br>
            <%= menu[index].rating %></br>
            <%= menu[index].details %></br></br>
        <% } %>   
        <% } %>
  </h3>
  <h2>Sides</h2>
  <h3>
    <% for( let index = 0; index < menu.length; index++ ) { %>
    <% if (menu[index].category === 'sides') { %>
        <%= menu[index].name %></br>
        <%= menu[index].price %></br>
        <%= menu[index].rating %></br>
        <%= menu[index].details %></br></br>
    <% } %>   
    <% } %>
  </h3>
</body>
</html>
